@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;700&display=swap');

* {
  padding: 0px;
  outline: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  color: #333;
  transition: all .4s;
}

h1, h2, h3, h4, h5, h6, label {
  font-weight: bold;
}

span {
  font-weight: 100;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #8a2be24d;
  transition: all 0.5s;
  border-radius: 5px;
}